<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ingeniería del Software</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
        }

        .barra {
            height: 100%;
            width: 100px;
            position: fixed;
            background-color: #424874;
        }

        .barra h2 {
            color: white;
            text-align: center;
        }

        .barra ul {
            list-style-type: none;
            padding: 2px;
        }

        .barra ul li {
            padding: 10px;
        }

        .barra ul li a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 5px;
        }

        .barra ul li a:hover {
            background-color: #A6B1E1;
            color: #424874;
            padding: 5px;
            border-radius: 5px;
        }

        .contenido {
            margin-left: 100px;
            padding: 20px;
        }

        .contenido header {
            background-image: linear-gradient(to left, rgba(66, 72, 116, 0.8), white);
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
        }

        .contenido h1, .contenido h3 {
            margin: 10px;
        }

        .contenido iframe{
            width: 100%;
            height: 600px;
        }
        .contenido img {
            width: 80%;
            height: 600px;
            display: block;
            margin: 0 auto;
        }
        footer {
            text-align: center;
            padding: 20px;
            bottom: 0;
            width: 100%;
        }
        footer p {
            margin: 0;
            font-size: 14px;
        }

    </style>
</head>
<body>
 <div class="barra">
    <h2>Menú</h2>
    {{> nav}}

  </div>
<div class="contenido">
    <header>
{{#each integrantes}}
        <h1>{{nombre}} {{apellido}}</h1>
        <h3>{{matricula}}</h3>
{{/each}}
    </header>
    <section>
        {{#each media}}
            <h2>{{titulo}}</h2>
            {{#if url}}
                <iframe src="{{url}}" title="Video de Youtube " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            {{else}}
                <img src="{{src}}" alt="{{titulo}}">
            {{/if}}
        {{/each}}
    </section>
</div>
{{> footer}}
</body>
</html>